<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">
    <!--    <bean id="poeticDuke" class="com.springinaction.springidol.Insturmentalist">-->
    <!--        <constructor-arg value="15"/>-->
    <!--        <constructor-arg ref="sonnet29"/>-->
    <!--        <constructor-arg>-->
    <!--            <bean class="com.springinaction.springidol.PoeticJuggler" />-->
    <!--        </constructor-arg>-->
    <!--    </bean>-->
    <bean id="sonnet29" class="com.springinaction.springidol.Sonnet29"/>
    <bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance"/>
    <bean id="ticket" class="com.springinaction.springidol.Ticket" scope="prototype"/>
    <bean id="auditorium" class="com.springinaction.springidol.Auditorium" init-method="turnOnLights"
          destroy-method="turnOffLights"/>
    <bean id="saxophone" class="com.springinaction.springidol.Saxophone"/>
    <bean id="piano" class="com.springinaction.springidol.Piano"/>
    <bean id="kenny" parent="baseSaxophonist">
        <!--<property name="song" value="Jingle Bells"/>-->
        <property name="age" value="37"/>
        <!--<property name="instrument" ref="piano"/>-->
        <!--        <property name="instrument">
                    <bean class="com.springinaction.springidol.Piano"/>
                </property>-->
    </bean>
    <!--    <bean id="hank" class="com.springinaction.springidol.OneManBand">
            <property name="instruments">
                &lt;!&ndash;<list>
                    <ref bean="guitar"/>
                    <ref bean="cymbal"/>
                    <ref bean="harmonica"/>
                </list>&ndash;&gt;
                &lt;!&ndash;            <set>
                                <ref bean="guitar"/>
                                <ref bean="cymbal"/>
                                <ref bean="harmonica"/>
                            </set>&ndash;&gt;
                <map>
                    <entry key="GUITAR" value-ref="guitar" />
                    <entry key="CYMBAL" value-ref="cymbal" />
                    <entry key="HARMONICA" value-ref="harmonica" />
                </map>
    &lt;!&ndash;            <props>&ndash;&gt;
    &lt;!&ndash;                <prop key="GUITAR">STRUM STRUM STRUM</prop>&ndash;&gt;
    &lt;!&ndash;                <prop key="CYMBAL">CRASH CRASH CRASH</prop>&ndash;&gt;
    &lt;!&ndash;                <prop key="HARMONICA">HUM HUM HUM</prop>&ndash;&gt;
    &lt;!&ndash;            </props>&ndash;&gt;
                <null/>
            </property>
        </bean>-->
    <bean id="carl" class="com.springinaction.springidol.Insturmentalist">
        <property name="song" value="#{kenny.song}"/>
    </bean>
    <bean id="david" parent="baseSaxophonist">
    </bean>
    <bean id="frank" parent="baseSaxophonist">
        <property name="song" value="Mary had a little lamb"/>
    </bean>
    <bean id="baseSaxophonist" class="com.springinaction.springidol.Insturmentalist" abstract="true">
        <property name="instrument" ref="saxophone"/>
        <property name="song" value="Jingle Bells"/>
    </bean>

    <bean id="basePerformer" abstract="true">
        <property name="song" value="Somewgere Over the Rainbow"></property>
    </bean>

    <bean id="taylor" class="com.springinaction.springidol.Insturmentalist" parent="basePerformer">
    </bean>

    <bean id="stevie" class="com.springinaction.springidol.Insturmentalist" parent="basePerformer">
        <lookup-method name="getInstrument" bean="guitar" />
        <property name="song" value="Greensleeves" />
    </bean>

    <!--I dont have class for guitar because i use saxophone-->
    <bean id="guitar" class="com.springinaction.springidol.Saxophone" scope="prototype"/>

    <bean id="harry" class="com.springinaction.springidol.Magician">
        <property name="magicBox" ref="magicBox"/>
        <property name="magicWords" value="Bippity boppity boo"/>
    </bean>

    <bean id="magicBox" class="com.springinaction.springidol.MagicBoxImpl">
        <replaced-method
            name="getContents"
            replacer="tigerReplacer"/>
    </bean>

    <bean id="tigerReplacer" class="com.springinaction.springidol.TigerReplacer" />


</beans>